* {
    margin: 0;
    padding: 0;
}

div:after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14px;
}

/* LAYER */
.layer {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    display: block;
    opacity: 1;
}

.layer.transition-layer {
    z-index: -1;
    opacity: 0;
    transition: opacity 6s cubic-bezier(0.14, 0.39, 0.65, 0.96);
    transform: translateZ(0);
}

.roleTop {
    background: url(../img/rollo.png) no-repeat;
    width: 100%;
    height: 161px;
    background-position: -4px 0;
    background-size: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
}

.roleTop.transition-top {
    top: -150px;
    transition: top 3s cubic-bezier(0.14, 0.39, 0.65, 0.96);
}

.roleLayer {
    background: url(../img/rollo-1.png) no-repeat;
    width: 90%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    background-position: center 0;
    top: 0;
    position: relative;
    background-size: 100%;
}

.roleLayer.transition-rolelayer {
    top: -930px;
    transition: top 2s cubic-bezier(0.14, 0.39, 0.65, 0.96);
}

/* FORM */

.form {
    position: relative;
    margin: 0 auto;
    max-width: 660px;
    top: 20%;
}

form fieldset {
    border: none;
}

form .button {
    margin: 40px 0;
    padding: 10px 20px;
    background: #5797C7;
    border: none;
    text-transform: uppercase;
    color: #fff;
}

form .button:hover {
    background: #487DA5;
}

form label {
    display: block;
    padding-bottom: 15px;
    font-size: 16px;
}

form input {
    margin: 0px 10px 0 0;
    top: 2px;
    position: relative;
}

form input[type="radio"] {
    height: 20px;
    width: 20px;

    background-color: #fff;
    box-shadow: none;
    border: none;
}


form h1 {
    padding-bottom: 20px;
}

/* CONTENT PAGE*/
.content {
    z-index: 0;
	position: relative;
	height: 500px;
}

/* NAVIGATION */

body nav {
    width: 100%;
    height: 60px;
    background-color: #34a8d3;
    color: #fff;
}

body nav ul {
    padding: 12px;
}

body nav ul li {
    display: inline;
    top: -14px;
    position: relative;
    padding: 0 11px;
}

body nav ul li:first-child {
    padding: 0 20px 0 0;
    top: 0;
}

@media only screen and (max-width: 835px) {
	body nav ul li:first-child img {
		width: 35%;
	}

	body nav ul li {
		top: -9px;
	}
}

body nav ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
}

body nav ul li a:hover, body nav ul li a.active {
    color: #053143;
}

/* Navi Icons */

a.morgens:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
	background-position: -47px -11px;
	background-size: 152px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.mittags:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
	background-position: -85px -11px;
	background-size: 152px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.abends:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
	background-position: -122px -11px;
	background-size: 152px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.morgens:hover:before, a.morgens.active:before   {
    background-position: -47px -51px;
}

a.mittags:hover:before, a.mittags.active:before   {
    background-position: -85px -51px;
}

a.abends:hover:before, a.abends.active:before  {
    background-position: -122px -51px;
}

/* result cati */
section.result-cacti {
	z-index: 1;
	background-color: #fff;
	position: absolute;
	top: 59px;
	width: 100%;
	left: 0;
	height: 100%;
}

/* main-svg section */

section.main-svg {
	position: absolute;
	top: 59px;
	width: 100%;
	left: 0;
	z-index: 0;
}


/* SVG Styles*/
svg.main-bg {
	width: 100%;
}

.st0{fill:#51A529;}
.st1{fill:#3E8916;}
.st2{fill:none;stroke:#3E8916;stroke-width:5.4108;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:none;stroke:#386D16;stroke-width:5.4108;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{fill:#2C5414;}
.st5{fill:#122606;}
.st6{fill:#E0FFCC;}
.st7{fill:#FFFFFF;}
.st8{fill:#995D16;}
.st9{fill:#845017;}
.st10{fill:#C1871F;}

#cactus-body-1, #cactus-body-2, #cactus-body-3, #cactus-body-4, #cactus-body-5 {
    -webkit-transition: transform 2s;
    transition: transform 2s;
}

#mond {
	transform: translate(-300px, 330px);
}

#himmel {
	fill: #408CBB;
}

/* keyframes */
@keyframes lampenschein {
	0%{
		opacity: 0.35;
	}
	4% {
		opacity: 0;
	}
	8% {
		opacity: 0.35;
	}
	12% {
		opacity: 0;
	}
	16% {
		opacity: 0.35;
	}
	100%{
		opacity: 0.35;
	}
}

#lampenschein {
	animation-name: lampenschein;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

/* RESULT HOVER*/
#antwort-5-text,
#antwort-4-text,
#antwort-3-text,
#antwort-2-text,
#antwort-1-text {
	display: none;
	background-color: #fff;
	color: #333;
	width: 30px;
	padding: 20px;
	position: absolute;
}

/* practices */
#uebung-morgen, #uebung-mittag, #uebung-abend {
	display: none;
	position: absolute;
	width: 60%;
	left: 15%;
	background-color: #fff;
	padding: 20px;
	margin-top: 1%;
}


