* {
	margin: 0;
	padding: 0;
}

div:after {
    content: '';
    display: table;
    clear: both;
}

body {
	background-color: #fff;
	color: #333;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 14px;
}

/* LAYER */
.layer {
	 z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    display: block;
    opacity: 1;
}

.layer.transition-layer {
	z-index: -1;
	opacity: 0;
	transition: opacity 6s cubic-bezier(0.14, 0.39, 0.65, 0.96);
    transform: translateZ(0);
}

.roleTop {
	 background: url(../img/rollo.png) no-repeat;
    width: 100%;
    height: 161px;
    background-position: -4px 0;
    background-size: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
}

.roleTop.transition-top {
 	top: -150px; 
 	transition: top 3s cubic-bezier(0.14, 0.39, 0.65, 0.96);
}

.roleLayer {
    background: url(../img/rollo-1.png) no-repeat;
    width: 90%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    background-position: center 0;
    top: 0;
    position: relative;
    background-size: 100%;
}

/*@media only screen and (max-width: 1200px) {
    .roleLayer {
        top: -120px;
    }
}

@media only screen and (max-width: 1140px) {
    .roleLayer {
        top: -140px;
    }
}

@media only screen and (max-width: 1075px) {
    .roleLayer {
        top: -180px;
    }
}

@media only screen and (max-width: 950px) {
    .roleLayer {
        top: -240px;
    }
}

@media only screen and (max-width: 755px) {
    .roleLayer {
        top: -280px;
    }
}*/

.roleLayer.transition-rolelayer {
 	top: -930px; 
 	transition: top 2s cubic-bezier(0.14, 0.39, 0.65, 0.96);
}

.form {
    position: absolute;
    display: block;
    margin: 0 auto;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.form button {
	    margin: 40px 0;
}

/* CONTENT PAGE*/
.content {
 z-index: 0;
}

/* NAVIGATION */

body nav {
	width: 100%;
	height: 60px;
	background-color: #34a8d3;
	color: #fff;
}

body nav ul {
	padding: 12px;
}

body nav ul li {
	display: inline;
    top: -12px;
    position: relative;
    padding: 0 5%;
}

body nav ul li:first-child {
	padding: 0 20px 0 0;
	top: 0;
}

body nav ul li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	transition: all 0.5s;
}

body nav ul li a:hover {
	color: #053143;
}

/* Navi Icons */
a.home:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -10px -9px;
    background-size: 160px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.morgens:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -50px -7px;
    background-size: 160px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.mittags:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -90px -9px;
    background-size: 160px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.abends:before {
    content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -125px -8px;
    background-size: 160px;
    padding-right: 25px;
    transition: all 0.5s;
}

a.home:hover:before  {
    background-position: -10px -50px;
}

a.morgens:hover:before  {
    background-position: -50px -48px;
}

a.mittags:hover:before  {
   background-position: -90px -50px;
}

a.abends:hover:before  {
    background-position: -125px -49px;
}





